<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="RadioBeam" suffix=" · Matrix Homeserver">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} integrity={RadioBeamWeb.Router.lookup_asset_hash("css/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"} integrity={RadioBeamWeb.Router.lookup_asset_hash("js/app.js")}></script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>

